body {
    background:linear-gradient(to bottom, #5ee7df, #b490ca) ;
    font-family: Arial,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 600px;
}

h1 {
    margin: 0 0 15px 0;
}

.filter-form {
    margin-bottom: 12px;
}

.filter-form select {
    width:100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.add-form {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
}

.add-form input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-form select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.add-btn{
    background: #8e2de2;
    border: none;
    color: white;
    padding: 0 14px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9ff;
    border-radius: 12px;
    padding: 12px 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.task-item:hover {
    transform: translateY(-2px);
}   

/* Editable text */

.task-item input[type="text"] {
    border: none;
    background: transparent;
    font-size: 16px;
    width: 250px;
    color: #333;
}

.task-item input[type="text"].done {
    /* outline: none;
    border-bottom: 1px solid #8e2de2; */
    text-decoration: line-through;
    color: #888;
}

.task-item .done{
    text-decoration: line-through;
    color: #999;
}

.badge {
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
}

.badge.important {
    background-color: #ff4d4d;
    color: white;
}
.badge.medium {
    background-color: #ffa500;
    color: white;
}
.badge.low {
    background-color: #4caf50;
    color: white;
}


.delete-btn {
    background: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear-btn {
    background: #8e2de2;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.empty {
    text-align: center;
    color: #777;
}

.task-count {
    font-weight: bold;
    color: #333;
}